<div id="<%= dom_id friend %>">
  <td>
  <%= link_to friend.first_name + ' ' + friend.last_name, friend, class:"btn btn-secondary"  %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>
  <td>
    <%= friend.user_id %>
  </td>

    <% if friend.user == current_user%>
  <td><%= link_to "Edit", edit_friend_path(friend), class:"btn btn-secondary" %></td>
  <td><%= button_to "Destroy", friend, method: :delete , class:"btn btn-secondary"%></td>
  <%else%>
  <td></td>
  <td></td>
  <%end%>
</div>
