<div id="<%= dom_id friend %>">
  <p>
    <%= friend.first_name %>
  </p>

  <td>
    <%= friend.last_name %>
  </td>

  <td>
    <%= friend.email %>
  </td>

  <td>
    <%= friend.phone %>
  </td>

  <td>
    <%= friend.twitter %>
  </td>
  <td>
    <text><%= link_to "Show", friend, class:"btn btn-secondary"  %></text>
    <td><%= link_to "Edit NEED FIX", friend, class:"btn btn-secondary" %></td>
    <td><%= button_to "Destroy NEED FIX", @friend, method: :delete , class:"btn btn-secondary"%></td>
  </td>
</div>
